.list {
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 800px;
    list-style: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease-in;
}

.list h2 {
    color: var(--primary-color);
    font-size: 1.3rem;
    max-width: 60ch;
}

.list a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
}

.list p {
    color: var(--primary-color);
}

.dateContainer {
    height: 100%;
    display: flex;
    align-items: center;
}


