form {
    position: relative;
}

input {
    height: 1.8rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 2.2rem 0.25rem 0.5rem;
    background: linear-gradient(to top, rgb(216, 216, 216), rgb(255, 255, 255));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button {
    border: none;
    background: transparent;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon {
    font-size: 1.2rem;
    color: gray;
}