input[type="text"] {
    height: 1.8rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.25rem 2.2rem 0.25rem 0.5rem;
    background: linear-gradient(to top, rgb(216, 216, 216), rgb(255, 255, 255));
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button {
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.icon {
    font-size: 1.2rem;
    color: gray;
    transition: transform 0.2s ease-out;
    padding: 0.25rem;
    padding-right: 0.6rem;

}

.icon:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

.checkWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
}

.checkContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.checkContainer label {
    color: rgb(190, 190, 190);
    font-size: 0.9rem;
    user-select: none;
}

.checkContainer input {

}

/* <div class="checkbox-wrapper-18">
  <div class="round">
    <input type="checkbox" id="checkbox-18" />
    <label for="checkbox-18"></label>
  </div>
</div>

<style> */
/* .checkbox-wrapper-18 .round {
position: relative;
}

.checkbox-wrapper-18 .round label {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 50%;
cursor: pointer;
height: 28px;
width: 28px;
display: block;
}

.checkbox-wrapper-18 .round label:after {
border: 2px solid #fff;
border-top: none;
border-right: none;
content: "";
height: 6px;
left: 8px;
opacity: 0;
position: absolute;
top: 9px;
transform: rotate(-45deg);
width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
visibility: hidden;
display: none;
opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label {
background-color: #66bb6a;
border-color: #66bb6a;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked + label:after {
opacity: 1;
} */
/* </style> */
