nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgb(216, 216, 216), rgb(196, 196, 196));
    padding: 0.25rem;
    align-items: stretch;
    user-select: none;
    height: 60px;
}

nav h1 {
    font-size: 3rem;
}

nav ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

nav li {
    padding: 0.25rem;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(56, 56, 56);
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 10%;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: rgba(88, 88, 88, 0.2);
}