.background {
    background: radial-gradient(circle, rgb(90, 90, 90), rgb(54, 54, 54));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}